<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Stock Information</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form [formGroup]="formModel" class="form-horizontal">
      <div class="box-body">
        <div class="form-group" 
        [class.has-error]="formModel.hasError('minlength', 'name') || 
        formModel.hasError('required', 'name')">
          <label for="name" class="col-sm-2 control-label">Stock Name</label>
          <div class="col-sm-6">
            <input formControlName="name" type="text" class="form-control" id="name" placeholder="Stock Name">
          </div>
          <span class="help-block" [class.hidden]="!formModel.hasError('required', 'name')">
                Stock name is required!
          </span>
          <span class="help-block" [class.hidden]="!formModel.hasError('minlength', 'name')">
                Please enter at least 3 characters!
         </span>
        </div>
        <div class="form-group">
          <label for="price" class="col-sm-2 control-label">Stock Price</label>
          <div class="col-sm-6">
            <input formControlName="price" type="number" class="form-control" id="price" placeholder="Stock Price">
          </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Stock Rating</label>
            <div class="col-sm-6">
                <!-- one way binding: -->
                <!-- <app-stars [rating]="stock?.rating" [readonly]="false"></app-stars> -->
                <!-- two way binding: -->
                <app-stars [(rating)]="stock.rating" [readonly]="false"></app-stars>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Stock Description</label>
            <div class="col-sm-6">
                <!-- before the form control -->
                <!-- <textarea  class="form-control" rows="5">{{stock.desc}}</textarea> -->
                <textarea formControlName="desc" class="form-control" rows="5"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Stock Catagories</label>
            <div class="col-sm-10">
               <div class="row" formArrayName="categories">
                    <div class="col-sm-2" *ngFor="let category of categories; let i=index">
                        <div class="checkbox">
                            <label>
                                <!-- this formControlName is bind to a variable (category), so needs [] -->
                                <input [formControlName]="i" type="checkbox"> {{category}}
                            </label>
                        </div>
                    </div>
               </div>
            </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button (click)="cancel()" type="submit" class="btn btn-default">Cancel</button>
        <button (click)="save()" type="submit" class="btn btn-info pull-right">Save</button>
      </div>
      <!-- /.box-footer -->
    </form>
  </div>